.cabecalho__menu-hamburguer {
    width: 36px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__container-imagens {
    padding: 0.7em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao {
    display: none;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista__menu-titulo, .lista__menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo, .cabecalho__opcoes {
    display: none;
}

.cabecalho__container-texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .cabecalho {
        justify-content: space-between;
    }

    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .cabecalho__opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1.5em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__container-imagens {
        padding: 0 1em;
    }

    .cabecalho__container-transparente {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco)
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista__menu-item:hover {
        background: var(--azul-degrade);
    }

    .lista__menu-item:hover > .lista__menu-link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0em 1em;
    }

    .cabecalho__container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px
    }

    .cabecalho__container-texto {
        display: block;
    }

    .cabecalho__opcoes {
        margin-right: auto;
    }

    .opcoes__link, .opcoes__item {
        font-size: 20px;
    }
}